 <!-- <div>

  <div>
    <input type="text" placeholder="Enter the value" name="meters" #meter (input)="converter(meter.value)">
    <div>{{ (meter.value) }}m is converted into {{ (centimeter) }}cm</div>
  </div>
<div>
    <input type=" text" placeholder="Enter the value" name="hour" [(ngModel)]="hour">
    <button (click)="convertTime()">Convert</button>
  </div>

</div>
<div>
  <form (ngSubmit)="submitForm()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" ngModel name="name" required>
    </div>
  
    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" ngModel name="age" required>
    </div>
  
    <button type="submit">Submit</button>
  </form>
  <div>{{new}}</div>
</div><input type="text" (keyup)="handleKeyUp($event)">
<app-todolist></app-todolist>
<app-bmi></app-bmi>
<input type="text" (keyup)="handleKeyUp($event)">-->

<app-reactiveform></app-reactiveform>