<div>
    <!--<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
        <input type="text" placeholder="enter name" name="username" [(ngModel)]="username" required email pattern="^[0-9]{10}$" >
        <span *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
            <span *ngIf="form.controls['username'].errors?.['required']">this is field is required</span>
            <span *ngIf="form.controls['username'].errors?.['pattern']">field is not valid</span>
        </span>
        <input type="password" placeholder="enter password" name="password" [(ngModel)]="password">
        <span *ngIf="form.controls['password']">field is required</span>
        <button>SUBMIT</button>
    </form>
    <form (ngSubmit)="submit()" [formGroup]="loginForm" >
        <input type="text" placeholder="enter name" name="firstname" formControlName="firstname">
        <input type="password" placeholder="enter password" name="passwrd" formControlName="passwrd">
        <button>SUBMIT</button>
    </form>-->
</div>
